<div id="posts">
{% for post in all_posts %}
<div class="post" id="post-id-{{post.id}}" >
    <span class="post-title">{{post.title}}</span>
    <div class="post-content">{{post.content|safe}}</div>
    <div class="post-data">
        <div class="post-author"><a href="#">{{post.author}}</a></div >
	 <div class="post-permalink"><a href="#">{{post.url}}</div >
        <div class="post-time">{{post.time}}</div >
        <div class="post-tags">
{%for tag in post.tags%}
		<span class="post-tag"><a href="{{tag.url}}">{{tag.name}}</a></span>
{%endfor%}
	</div >
    </div>
    <div class="post-attachments"></div>
    <div class="post-comments"
    {% for comment in post.comments %}
        <div class="comment" id="post-id-comment-id">
            <div class="comment-author"></div>
            <div class="comment-content"></div>
            <span class="comment-time"></span>
            <span class="comment-permalink"></span>
        </div>
    {% endfor %}    
    </div>
</div>    
{% endfor %}
</div>
