{% extends "index.html" %}
{% load i18n %}

{% block style %}

{% endblock %}

{% block content %}
<h3> Students:</h3>
<div>
{% for student in students %}
<span class="student"><a href="{{student.url}}">{{student.name}}</a></span>
{% endfor %}
</div>
<h3> Teachers:</h3>
<div>
{% for teacher in teachers%}
<span class="teacher">
<a href="{{teacher.url}}">{{teacher.name}}</a> 
({%for subject in teacher.subjects%}<span class="subject" style="background-color:#{{s.color}}"><a href="{{subject.url}}">{{subject.name}}</a></span>{%endfor%})</span>
{% endfor %}
</div>
<hr />
{% include "blog.html" %}
{% endblock %}