{% extends "index.html" %}
{% load i18n %}
{% block title %} - {{course}}{% endblock %}

{% block style %}
.descr{
    text-align:justify;
}
{% endblock %}

{% block sidebar %}{% endblock %}
{% block content %}
{% trans "Course List of the school" %}
<table width="600px">
{% for klass in klasses %}
    <tr>
        <td width="100px"><a href="#">{{ klass.klass }}</a></td> 
        <td width="400px"><span class="descr">{{klass.description}}</span></td>
        <td width="75px"><a href="#">{{klass.blog}}</a></td>
        <td width="25px"><a href="#">{{klass.rss}}</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}