{% extends "index.html" %}
{% load i18n %}
{% block title %} - {{course}}{% endblock %}

{% block style %}
.descr{
    text-align:justify;
}
{% endblock %}

{% block content %}
{% trans "Course List of the school" %}
<table width="600px">
{% for k in klasses %}
    <tr>
        <td width="100px"><a href="{{ k.url }}">{{ k.klass }}</a></td> 
        <td width="400px"><span class="descr">{{k.description}}</span></td>
        <td width="75px"><a href="#">{{k.blog}}</a></td>
        <td width="25px"><a href="#">{{k.rss}}</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}