<html>
<head>
<title>ISI Keynes {% block title %}{% endblock %}</title>
<style type="text/css">
#title{
    width:100%;
    height:250px;
    padding-left:250px;
    font-size:60px;
    }
#content{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    }
#footer{
    width:100%;
    height:250px;
    }
    
{% block style %}{% endblock %}
</style>
</head>
<body>
    <div id="title">ISI Keynes</div>
    <div id="content">
        <div id="sidebar">{% block sidebar %}{% endblock %}</div>
        <div id="main">{% block content %}{% endblock %}</div>
    </div>
    <div id="footer">Made with <a href="https://github.com/keynes-foss/key-ness">keynes-foss:key-ness</a></div>
</body>
</html>
