{% extends "index.html" %}
{% load i18n %}
{% block title %} - {{section}}{% endblock %}

{% block style %}
.descr{
    text-align:justify;
}
{% endblock %}

{% block sidebar %}{% endblock %}
{% block content %}
{% trans "Areas of the school" %}
<table width="600px">
{% for course in courses %}
    <tr>
        <td width="100px"><a href="{{ course.url }}">{{ course.course }}</a></td> 
        <td width="400px"><span class="descr">{{course.description}}</span></td>
        <td width="75px"><a href="#">{{course.blog}}</a></td>
        <td width="25px"><a href="#">{{course.rss}}</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}