{% extends "index.html" %}
{% load i18n %}
{% block title %} - {{title}}{% endblock %}

{% block style %}
.descr{
text-align:justify;
}
{% endblock %}

{% block content %}
{% trans message %}
<table>
        {% for el in content %}
        <tr>
                <td width="200px"><a href="{{ el.url }}">{{ el.name }}</a></td>
                <td width="300px"><span class="descr">{{el.description}}</span></td>
                <td width="75px"><a href="#">{{el.blog}}</a></td>
                <td width="20px"><a href="#">{{el.rss}}</a></td>
        </tr>
        {% endfor %}

</table>
{% endblock %}