{% extends "index.html" %}
{% load i18n %}
{% block title %} - {{year}}{% endblock %}

{% block style %}
.descr{
text-align:justify;
}
{% endblock %}

{% block content %}
{% trans "Course List of the school" %}
<table width=>
        {% for section in sections %}
        <tr>
                <td width="4*"><a href="{{ section.url }}">{{ section.section }}</a></td>
                <td width="16*"><span class="descr">{{section.description}}</span></td>
                <td width="3*"><a href="#">{{course.blog}}</a></td>
                <td width="1*"><a href="#">{{course.rss}}</a></td>
        </tr>
        {% endfor %}
</table>
{% endblock %}
